---
layout: default
---
<img src="img/{{ page.image }}" style="float: left; width:128px; height:128px; margin-right:16px; margin-top:8px; margin-bottom:8px;">

<h1>{{ page.name }}</h1>
<h4>{{ page.nickname }} - {{ page.position }}</h4>

<br>

{{ content }}

<h2>Social</h2>
{% if page.facebook %}
  <a href="{{ page.facebook }}"><img src="../assets/fb-icon.png" style="width:32px; height:32px; display: inline-block;"></a>
{% endif %}
{% if page.instagram %}
  <a href="{{ page.instagram }}"><img src="../assets/in-icon.png" style="width:32px; height:32px; display: inline-block;"></a>
{% endif %}
{% if page.twitter %}
  <a href="{{ page.twitter }}"><img src="../assets/tw-icon.png" style="width:32px; height:32px; display: inline-block;"></a>
{% endif %}
{% if page.youtube %}
  <a href="{{ page.youtube }}"><img src="../assets/yt-icon.png" style="width:32px; height:32px; display: inline-block;"></a>
{% endif %}

<h2>Post</h2>
<ul>
  {% assign filtered_posts = site.posts | where: 'author', page.nickname %}
  {% for post in filtered_posts %}
    <li><a href="{{ post.url }}">{{ post.title }}</a></li>
  {% endfor %}
</ul>
