---
layout: titled
---

{{ page.content }}

<div class="catalogue">
    {% for chapter in site.works %}
    {% unless chapter.layout == 'work' %}
      <a href="{{ chapter.url | prepend: site.baseurl }}" class="catalogue-item">
        <div>
          <h1 class="donthyphenate catalogue-title">{{ chapter.title }}</h1>
          <div class="catalogue-line"></div>
  
          <div style="text-align: justify;">
            {% assign truncatedContent = '' %}
            {% assign paragraphs = chapter.content | newline_to_br | strip_newlines | split:'<br />' %}
            {% for paragraph in paragraphs limit: chapter.display %}
              {{ truncatedContent | append: paragraph }}
            {% endfor %}
          </div>
  
        </div>
      </a>
    {% endunless %}
    {% endfor %}
    </div>
  
  <div class="pagination">
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}" class="left arrow">&#8592;</a>
    {% endif %}
    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path | prepend: site.baseurl }}" class="right arrow">&#8594;</a>
    {% endif %}
  
    <span>{{ paginator.page }}</span>
  </div>
  