---
layout: titled
---

{{ page.content }}

<div class="catalogue">
    {% for chapter in site.works %}
    {% unless chapter.layout == 'work' %}
      <a href="{{ chapter.url | prepend: site.baseurl }}" class="catalogue-item">
        <div>
          <time datetime="{{ chapter.date }}" class="donthyphenate catalogue-time">{% assign m = chapter.date | date: "%-m" %} {{ chapter.date | date: "%-d" }}
              {% case m %}
                {% when '1' %}Gennaio
                {% when '2' %}Febbraio
                {% when '3' %}Marzo
                {% when '4' %}Aprile
                {% when '5' %}Maggio
                {% when '6' %}Giugno
                {% when '7' %}Luglio
                {% when '8' %}Agosto
                {% when '9' %}Settembre
                {% when '10' %}Ottobre
                {% when '11' %}Novembre
                {% when '12' %}Dicembre
              {% endcase %}
            {{ chapter.date | date: "%Y" }}</time>
          <h1 class="donthyphenate catalogue-title">{{ chapter.title }}</h1>
          <div class="catalogue-line"></div>
  
          <div style="text-align: justify;">
            {% assign truncatedContent = '' %}
            {% assign paragraphs = chapter.content | newline_to_br | strip_newlines | split:'<br />' %}
            {% for paragraph in paragraphs limit: chapter.display %}
              {{ truncatedContent | append: paragraph }}
            {% endfor %}
          </div>
  
        </div>
      </a>
    {% endunless %}
    {% endfor %}
  </div>
  
  <div class="pagination">
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}" class="left arrow">&#8592;</a>
    {% endif %}
    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path | prepend: site.baseurl }}" class="right arrow">&#8594;</a>
    {% endif %}
  
    <span>{{ paginator.page }}</span>
  </div>
  